In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer 
import xgboost as xgb

In [3]:
df = pd.read_csv('data.csv', encoding = 'UTF-8', sep = ';')

In [4]:
df.head(10)

   ID                                           Question
0   1  Как зовут лодочника на реке Стикс в древнегреч...
1   2                   Как в химии обозначается свинец?
2   3  Какой химический элемент преобладает в составе...
3   4  Кто из перечисленных был пажом во времена Екат...
4   5                    Когда началась 2 мировая война?
5   6  Какая эра геологической истории Земли относитс...
6   7                   Кто из животных может мурлыкать?
7   8  Что из перечисленного НЕ входит в национальную...
8   9  Какой из этих мультфильмов повествует о реальн...
9  10                         Кто написал повесть «Муму»

In [5]:
quetions = df['Question'].values

In [6]:
from stop_words import get_stop_words
sw= get_stop_words('ru')

In [7]:
tfidf = TfidfVectorizer(ngram_range=(4,20),analyzer='char_wb')
x = tfidf.fit_transform(quetions)

In [8]:
x.shape

(41087, 978928)

In [9]:
df_train = pd.read_csv('train.csv', encoding = 'UTF-8', sep = ';')

In [10]:
df_train.head()

   ID  Answer
0   1       0
1   2       1
2   3       0
3   4       0
4   5       0

In [62]:
x_train = x[:30000]
x_test=x[30000:]

In [53]:
x_train.shape

(30000, 40639)

In [28]:
y_train = df_train["Answer"]

In [35]:
from sklearn.model_selection import train_test_split

In [54]:
x1, x2, y1, y2 = train_test_split(x_train,y_train, test_size = 0.2)

In [67]:
model = xgb.XGBRegressor(max_depth= 4, n_jobs=6, n_estimators=300)

In [68]:
model.fit(x_train,y_train)

C:\Users\MI\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\Users\MI\Anaconda3\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

[16:22:27] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0,
       importance_type='gain', learning_rate=0.1, max_delta_step=0,
       max_depth=4, min_child_weight=1, missing=None, n_estimators=300,
       n_jobs=6, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=None, subsample=1, verbosity=1)

In [59]:
from sklearn.metrics import roc_auc_score

In [69]:
y_pred = model.predict(x_test)

In [61]:
roc_auc_score(y2, y_pred)

0.503906089843559

In [73]:
out=open('sub.csv','w', encoding='utf-8')
for i in range (len(y_pred)):
    out.writelines(str(30000+i+1)+','+str(y_pred[i])+'\n')
out.close()

array([0.08086899, 0.08086899, 0.13753864, ..., 0.08086899, 0.08086899,
       0.08086899], dtype=float32)